body, head {
    padding: 0;
    margin: 0;
    border: 0;
}

.place_from {
    width: 100%;
    height: 25px;
    background: black;
    color: white;
    cursor: pointer;
    padding-left: 30px;
}

.header {
    width: 100%;
    height: 160px;
     padding-left: 20px; 
     background: #E7F0E4; 
    position: relative;
}
.header_img {
    width: 150px;
    height: 150px;
    padding: 5px 30px 0 0;
}
.header_logo {
    font-size: 24px; 
    font-family: 'Lobster', cursive;
}
.header_menu {
    float: right;
    font-size: 16px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    vertical-align: top;
    margin: 10px 40px 10px 30px;
}
.header_list {
    display: inline-block;
    padding-left: 30px;
    
}
.header_list > div:hover{
    text-decoration: underline;
    background: grey;
    border-radius: 7px;
    cursor: pointer;
}
.header_menu_title {
    cursor: pointer;
    font-size: 40px;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.buttonChangeHash {
    display: inline-block; 
    border-radius: 6px; 
    font-size: 16px; 
    margin: 10px 0 0 30px;
    color: white;
    background: green;
    box-shadow: 2px 2px;
    cursor: pointer;
}
.buttonChangeHash:hover {
    background: #069206;
}
.buttonChangeHash:active {
    background: #03BB03;
}
.imageGoToCart {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.header_categories {
    border-top: solid;
    border-bottom: solid;
    border-color: purple;
    border-width: 1px;
    margin: 30px 0 0 0;
}

.menu_left {
    width: 200px;

}

.image_icon {
    width: 15px;
    height: 15px;
}

.input_search {
    width: 190px;
    height: 30px;
    border-radius: 7px;
    margin-left: 30px;
}

#menu {
    width: 210px;
    margin: 0 0 0 40px;
    font-size: 22px;
     float: left; 
    /* display: inline-block; */
}
.menu_list {
    cursor: pointer;
    margin: 10px 0 10px 0;
}
.menu_list:hover {    
    transition: all 0.3s ease-out;
    background-color: white; 
}
.menu_list:hover .sub_menu_list {
    display: block;
}
.sub_menu_list {
    padding: 0 0 0 20px;
    font-size: 18px;
    display: none;
}
.sub_menu_list:hover {
    background: grey;
    border-radius: 8px;      
    transition: all 0.3s ease-out  
}

#content {
    width: calc(100% - 270px);
    display: inline-block;    
}

.product {
    width: 200px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.product:hover {
    box-shadow: 0 0 10px 10px whitesmoke;
    height: auto;
    
}
.product_img {
    width: 190px;
    height: 220px;
    margin: 0px;
}
.product_name {
    font-size: 18px;
    word-break: break-all;
     /* max-height: 40px;  */
    /* overflow: hidden; */
}
.product_price {
    font-size: 18px;
}


.button {
    border-radius: 6px;
}

.vertical_align_70px{
    vertical-align: 70px;
}

.preview {
    position: fixed;
    top: 50px;
    left: 300px;
    width: 700px;
    height: 500px;
    border: 5px solid blue;
    background-color: #F5EAF4;
    padding: 10px;
    border-radius: 10px;
}
.unClickBackgroundPreview {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.2;
}

.buttonRemovePreview {
    position: absolute;
    border-radius: 3px;
    top: 5px;
    right: 20px;
}
.buttonRemovePreview > img {
    width: 20px;
    height: 20px;
}

.previewWrapperImage {
    border: 3px solid #C4DDD7;
    width: 270px;
    height: 450px;
    padding: 5px;
    display: inline-block;
    position: relative;
    top: 30px;
}
.previewImageBig {
    width: 260px;
    height: 370px;
}
.previewWrapperImageSmall {
    width: 260px;
    height: 130px;
}
.previewImageSmall {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 5px;
}

.wrapperDescription {
    margin-left: 5px;
    display: inline-block;
    width: 400px;
    height: 360px;
    position: relative;
    vertical-align: top;
    top: 30px;
}
.wrapperDescription > div {
    font-size: 14pt;
}
.messageAddProduct {
    position: fixed;
    width: 500px;
    height: 110px;
    top: 250px;
    left: 500px;
    border-radius: 10px;
    /* box-shadow: 5px 5px; */
    background: #34A034;
    text-align: center;
    font-size: 28px;
    color: white;
}
.buttonAddProduct {
    position: absolute;
    bottom: 10px;
    right: 50px;
    text-align: center;  
    border-radius: 5px;
}

.itemInCart {
    border: 3px solid #5E5EEB;
    background: #FFC6C6;
    width: 800px;
    margin: 10px 0 10px 50px;
    border-radius: 6px;
}
.itemInCart > img {
    width: 150px;
    height: 180px;
    margin: 10px;
}
.itemInCart > div {
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
}


/* cart */
.wrapperCart {
    position: absolute;
    overflow: auto;
    width: 410px;
    height: 600px;
    top: 170px;
    right: 80px;
    font-size: 20px;
    border: 2px solid #6C6CFA;
    z-index: 2;
    background: white;
    display: none;
}
.wrapperTitle {
    height: 55px;
    font-size: 30px;
}
.buttonRemove {
    float: right;
}
.buttonRemove > img {
    width: 30px;
    height: 30px;
}

.buttonRemoveItemInCart {
    position: absolute;
    border-radius: 3px;
    top: 3px;
    right: 0;
    margin: 5px 5px 0 0;
    width: 20px;
    height: 20px;
    background-image: url(images/close.png);
    cursor: pointer;
}
.buttonRemoveItemInCart > img {
    width: 20px;
    height: 20px;
}

.itemInLightCart {
    width: 390px;
    height: 150px;
    border: 2px solid #916E6E;
    margin: 5px 0;
    position: relative;
}

.imgItemInCart {
    position: relative;
    top: 20px;
    width: 90px;
    height: 90px;
}

.textItemInCart {
    position: relative;
    top: 20px;
    display: inline-block;
    font-size: 18px; 
    max-width: 295px;
    max-height: 70px;
    overflow: hidden;
}